TargetPlatformModel SystemRobotinoLaserObstacleAvoidRealWorld
{
TargetPlatformDefinition Robotino
	{
		NetworkInterface wifi { HostAddress "10.36.32.130" }
		LoginAccount student { FullName "Guest" Email "guest@example.com" }
	} }