TargetPlatformModel SystemP3dxNavigationRealWorld
{
	TargetPlatformDefinition Pioneer3DX
	{
		LoginAccount student { FullName "Guest" Email "guest@example.com" }
		NetworkInterface wifi { HostAddress "10.36.32.226" Kind "WLAN" }
	} }