TargetPlatformModel SystemWebotsRobotino3HospitalNavigation
{
TargetPlatformDefinition PC1
	{
		NetworkInterface eth2 { HostAddress "localhost" }
	} }
