TargetPlatformModel SystemWebotsPathNavigation
{
    TargetPlatformDefinition LocalhostTarget
    {
        NetworkInterface localhost { HostAddress "localhost" }
    } 
}