TargetPlatformModel SystemLaserObstacleAvoidP3dxWebotsSimulator
{
TargetPlatformDefinition PC1
	{
		NetworkInterface eth2 { HostAddress "localhost" }
		//LoginAccount shaik { FullName "Guest" Email "guest@example.com" }
	} 
	}